$bgBtn: #f5f0f0;
$btnTextColor: #fff;
$btnActive: #111;

.pagination-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 1rem;
  gap: .5rem;

  .pagination-item {
    margin-left: 0.5rem;

    .pagination-btn {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      cursor: pointer;
      border: none;
      border-radius: 0.5rem;
      background-color: $bgBtn;
      transition: all 0.4s ease-in-out;
    }
  }
}

.active {
  background-color: $btnActive  !important;
  color: $btnTextColor;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.pagination-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}