$textColor: #111;
$bgWhiteColor: #fff;
$btnBgColor: #4a7e73;
$inputBgColor: #f5f0f0;
$btnColor: #111;
$textWhiteColor: #fff;


.user-card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  background-color: $bgWhiteColor;
  padding: 0 1rem;
  border-radius: .5rem;

  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
  }

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
  }
  .user-card-items {
    margin-bottom: 2rem;
    flex:none;

    span {
      font-weight: 700;
    }
  }
  .user-card-update-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:1rem 2rem;
  }

  label {
    margin: .5rem 0;
  }
  input {
    padding: .4rem;
    width: 100%;
    outline: none;
    font-weight: 700;
    font-size: 1rem;
    background-color: $inputBgColor;
    border: none;
    border-radius: .5rem;
  }
  .user-card-update-btn {
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 2rem;
    background-color: $btnColor;
    color: $textWhiteColor;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
}

.user-card-update-btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}



@media screen and (max-width: 650px) {
  .user-card-container {
    margin: 0;
  }
  .user-card-update-form {
    padding: 1rem;
    width: 100%;
  }
}