$bGColor: #4a7e73;
$btnColor: #111;
$textWhiteColor: #fff;
$formBgColor: #9debda;

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-header {
    display: block;
    margin: 1rem 0;
    h2 {
      font-size: 2rem;
    }
  }
  .contact-form {
    background-color: $formBgColor;
    padding: 2.5rem 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    min-width: 50%;

    label {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    input {
      padding: 0.5rem;
      outline: none;
      border: none;
      border-radius: 0.3rem;
    }

    .contact-msg-area {
      width: 100%;
      height: 10rem;
      padding: 0.5rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      border: none;
      resize: none;
      outline: none;
      white-space: nowrap;
      overflow: auto;
      margin-bottom: 1rem;
    }
    .contact-btn {
      flex: initial;
      padding: 1rem 2.5rem;
      background-color: $bGColor;
      color: $textWhiteColor;
      font-size: 1rem;
      font-weight: 700;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
    }
  }
}

.contact-btn:hover {
  box-shadow: 5px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.01);
}

.contact-error {
  color: red;
  font-weight: 700;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #f6f5ee;
}

@media screen and (min-width: 360px) and (max-width: 430px) {
  .comment-container {
    margin: 0;
  }
  .contact-form {
    padding: 2rem !important ;
  }
}
