.terms-container{
  margin: 2rem;

  .terms-title{
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .terms-sub-title{
    font-size: 1.5rem;
  }
  p {
    margin: 1rem 0;
  }
  .terms-list-item {
    margin-left: 1rem;
  }
}