$textColor: #111;
$activeBtn: #f20a0a;

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid #111;
  margin: 0 2rem;
  position: relative;
  margin-top: 3rem;

  a {
    text-decoration: none;
    color: $textColor;
    transition: all 0.4s ease;
  }
  .footer-links:hover {
    font-weight: 700;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
  }

  .footer-active-link {
    font-weight: 700;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    color: $activeBtn;
  }
}

@media screen and ( min-width: 360px ) and (max-width: 430px){
  .footer-nav {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .footer-links {
    font-size: .8rem;
  }

  .footer-active-link {
    font-weight: 400;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    color: $activeBtn;
  }
}
