$textColor: #111;
$textWhiteColor: #fff;
$btnBgColor: #4a7e73;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid $textColor;
  margin: 0 2rem;
}

.navbar-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-display-username {
  display: inline-block;
  font-weight: 700;
  color: $textColor;
  position: relative;
  bottom: 3.5rem;
  right: 0rem;

}

.navbar-user {
  margin-right: 1rem;
  width: 1rem;
}

.navbar-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: $textWhiteColor;
  padding: 1rem 2rem;
  background-color: $btnBgColor;
  border-radius: 0.3rem;
  transition: all .4s ease-in-out;
  text-align: center;
}

.navbar-btn {
  border: 1px solid $btnBgColor;
  text-decoration: none;
  font-size: 1.5rem;
  color: $textWhiteColor;
  padding: 1rem 2rem;
  background-color: $btnBgColor;
  border-radius: 0.3rem;
  transition: all .4s ease-in-out;
  margin-right: 1rem ;
}

.navbar-link:nth-of-type(1n) {
  margin-right: 1rem;
}

.navbar-link:hover,.navbar-btn:hover {
  box-shadow: 5px 4px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (min-width: 360px) and (max-width: 430px) {
  .navbar {
    width: inherit;
    margin: 0 auto;
  }
  .navbar-link {
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    border-radius: none;
    color: $textWhiteColor;
  }
  .navbar-logo {
    width: 10rem;
    padding: 0 1rem;
  }

  .navbar-link:nth-of-type(1) {
    margin-right: 0.6rem;
  }
}


@media screen and (max-width: 650px) {
  .navbar-cta {
    display: flex;
    margin-left: 1rem;

    .navbar-link {
      padding: 1rem;
      font-size: 1.2rem;
    }

    .navbar-btn {
      padding: 1rem;
      font-size: 1.2rem;
    }
  }
  .navbar-logo {
    width: 15rem;
    padding: 0 1rem;
  }
  
}