$textColor: #111;
$textWhiteColor: #fff;
$btnBgColor: #4a7e73;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid $textColor;
  margin: 0 2rem;
}

.navbar-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: $textWhiteColor;
  padding: 1rem 2rem;
  background-color: $btnBgColor;
  border-radius: 0.3rem;
}

.navbar-link:nth-of-type(1) {
  margin-right: 1rem;
}

@media screen and ( min-width: 360px ) and (max-width: 430px) {
  .navbar {
    width: 100%;
    margin: 0 auto;
  }
  .navbar-link {
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    border-radius: none;
    color: $textWhiteColor;
  }
  .navbar-logo {
    width: 10rem;
    padding: 0 1rem;
  }

  .navbar-link:nth-of-type(1) {
    margin-right: 0.6rem;
  }
}
