$textColor: #111;
$bgWhiteColor: #fff;
$btnColor: #111;
$inputBgColor: #f5f0f0;
$textWhiteColor: #fff;


.blogs-list-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  height: auto;
  background-color:$bgWhiteColor;
  border-radius: .5rem;

  .blogs-list-header {
    margin-top: 1rem;
    h3 {
      font-size: 1.5rem;
    }
  }

  .blogs-list-items {
    width: inherit;
    overflow: auto;
    align-self: flex-start;
  }
}