* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bgColor: #f2cda1;
$myFontFamily: "Roboto Mono", monospace;

body {
  background-color: $bgColor;
  font-family: $myFontFamily;
  overflow-x: hidden;
}

#root {
  max-width: 1260px;
  margin: 0 auto;
}

@media screen and (min-width: 360px) and (max-width: 430px) {
  #root {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  #root {
    width: 100%;
    margin: 0 auto;
  }
}
